body,
html {
    height: 100%;
    background: url(../Assets/Image/bg.jpg) no-repeat fixed center rgb(130, 177, 221);
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

#quote-wrapper {
    padding: 120px 20vw 50px 20vw;
}