body,
html {
    height: 100%;
    background: url(../Assets/Image/bg.jpg) no-repeat fixed center rgb(130, 177, 221);
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

header {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

#quote-wrapper {
    padding: 120px 20vw 50px 20vw;
}

.quotes {
    padding-top: 50px;
}

.quotes li {
    margin-bottom: 30px;
}

.quotes img {
    width: 45%;
    margin: 30px 30px 0 30px;
    background-color: rgb(39, 39, 39);
    transition: ease 0.3s;
}

.quotes img:hover {
    background-color: white;
    transition: 0.3s;
}

.quotes h4 {
    position: absolute;
    margin-left: 30px;
}

.initial {
    opacity: 1;
}

.visible {
    opacity: 0;
}

.quotes img:hover ~ .initial {
    opacity: 0;
    transition: 0.3s;
}

.quotes img:hover ~ .visible {
    opacity: 1;
    transition: 0.3s;
}